.header {
    position: fixed;
    background-color: rgba(103, 239, 58, 0.85);
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 30px 40px rgb(0 0 0 / 20%);
    /*transform-origin: top right;*/
    /*transform: skewY(1deg);*/
}








